@model IEnumerable<Community.ViewModels.GroupViewModel>

@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>@Html.DisplayName("Status")</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
    @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @{
    if (item.isOwner)
    {
        @Html.Raw("Owner")
    }
    else if (item.isMember)
    {
        @Html.Raw("Member")
    }
    else
    {
        @Html.Raw("Not a member")
    }
}
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            @{
    if (item.isOwner)
    {
        @Html.Raw(" | ")
        @Html.ActionLink("Edit", "Edit", new { id=item.Id })
    @Html.Raw(" | ")
        @Html.ActionLink("Delete", "Delete", new { id=item.Id })
    }
    if (!item.isMember)
    {
       @Html.Raw(" | ")
       @Html.ActionLink("Join Group", "JoinGroup", new { id = item.Id })
    }
    else
    {
        @Html.Raw(" | ")
        @Html.ActionLink("Leave Group", "LeaveGroup", new { id = item.Id })
    }
}

        </td>
    </tr>
}

</table>
