@model Community.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
}


<div>
    <h4>MessageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.lastLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loginsLastMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loginsLastMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unreadMessages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unreadMessages)
        </dd>

    </dl>
</div>