@model IEnumerable<Community.Models.MessageViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("MarkAsRead","Inbox"))
{
    <table class="table">
        <input type="submit" value="Mark selected as read" />
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Read)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheMessage)
            </th>

            <th></th>
        </tr>
        @{
    int newcounter = 0;
    int oldcounter = 0;
        }

        @foreach (var item in Model)
        {
            bool isNew = item.Read.Equals("[NEW]");
            if (isNew)
            {
                newcounter++;
            }
            else
            {
                oldcounter++;
            }
                <tr>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Sent)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Read)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Title)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Sender)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.TheMessage)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                    <td><input id="@item.Id" name="marker" type="checkbox" value="@item.Id" /></td>
                </tr>
        }

    </table>
    Output.Write("New: "+newcounter+"<br>Old: "+oldcounter+"<br>");
}

