@model Community.ViewModels.InboxViewModel

@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>
@using Community.ViewModels
@using (Html.BeginForm("MarkAsRead","Inbox"))
{
       <input type="submit" value="Mark selected as read" />
    <table class="table">
        <tr>
            <th>
                Sent
            </th>
            <th>
                Read
            </th>
            <th>
               Title
            </th>
            <th>
                Sender
            </th>
            <th>
                Message
            </th>

            <th></th>
        </tr>
        @{
    int newcounter = 0;
    int oldcounter = 0;

    List<MessageViewModel> messages = Model.messages;
        }

        @foreach (var item in messages)
        {
            bool isNew = item.Read.Equals("[NEW]");
            if (isNew)
            {
                newcounter++;
            }
            else
            {
                oldcounter++;
            }
                <tr>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Sent)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Read)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Title)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.Sender)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @if (isNew)
                        {
                            Output.Write("<b><font color=\"#00AA00\">");
                        }
                        @Html.DisplayFor(modelItem => item.TheMessage)
                        @if (isNew)
                        {
                            Output.Write("</font></b>");
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                    <td><input id="@item.Id" name="marker" type="checkbox" value="@item.Id" /></td>
                </tr>
        }

    </table>
    Output.Write("New: "+newcounter+"<br>Old: "+oldcounter+"<br>Deleted: "+Model.DeletedCount);
}

